<%= div_for comment do %>    
  <p>
  <strong><%= h(comment.body) %></strong><br />
  <font color='blue'>Posted <%= time_ago_in_words(comment.created_at) %></font><br />
  <%= link_to 'Edit', edit_comment_path(comment) %>
  <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>