<h1>Editing comment</h1>

<%= render 'form' %>

<!--<%= link_to 'Show', @comment %> -->
<!-- onclick link "Back", redirect to parent post record -->
<% @post = Post.find(@comment.post_id) %>
<%= link_to 'Back', @post %>
