<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<font color='blue'>Posted <%= time_ago_in_words(@post.created_at) %></font>
<hr />
<h3>Comments:</h3>
<div id="comments">
  <%= render :partial => @post.comments.reverse %>
  <!--
  <% @post.comments.each do |comment| %>
    <%= div_for comment do %>    
      <strong><%= h(comment.body) %></strong><br />
      <font color='blue'>Posted <%= time_ago_in_words(comment.created_at) %></font>
    <% end %>
  <% end %>
  -->
</div>

<%= form_for([@post, Comment.new], remote: true) do |f| %>
  <p>
    <%= f.label :body, "New Comment" %><br />
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
